/build
/build.lib
work/job_*
work/*.csv
work/*.out
work/.ipynb_checkpoints/
/lib64
*.o
*.mod
*.x
#*.out
*~
*.swp
src/icepack_drivers/Icepack
lib/*.a
lib/*.so
/work_*
Makefile.in
mesh_part/build
test/output_pi 
src/cvmix_driver/CVMix-*
.vscode/
src/neuralnet_params/*
